* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    -webkit-text-size-adjust: auto;
    width:1200px;
    font-family: sans-serif;
    
  }


  /* Section 1 Styles */
  #section-1 {
    background-color: white;
    text-align: left;
    padding: 20px;
  }

  #section-1 img {
    max-width: 20%;
    height: auto;
  }

  .first{
    width: 1180px;
    display: flex; 
    margin: 0px;
  }

  .group-9947 {
    align-items: flex-start;
    display: flex;
    gap: 28px;
    margin-bottom: 6.0px;
    width: 860px;
    justify-content: flex-end;
    width: 860px;
  }

  .group-9947 a{
    display: block;
    width: 128px;
    margin: 0px;
    text-decoration: none;
  }

  .overlap-group {
    align-items: center;
    background: linear-gradient(180deg, rgb(131, 213, 203.16) 0%, rgb(117, 147, 147) 100%);
    background-color: var(--ffffff);
    border-radius: 15px;
    box-shadow: inset 0px 4px 4px #00000040;
    display: flex;
    height: 49px;
    width: 128px;
    padding: 0 28px;
  }

  .group-994{
    width: 128px;
    transition: transform 0.5s;
  }

  .group-994:hover {
    transform: scale(0.9); 
  }

  .overlap-group-1 {
    align-items: center;
    background: linear-gradient(180deg, rgb(4, 179, 114) 0%, rgb(3, 189, 121) 100%);
    background-color: #02925D;
    border-radius: 15px;
    box-shadow: inset 0px 4px 4px #00000073;
    display: flex;
    height: 49px;
    width: 128px;
    padding: 0 28px;
  }

  .roboto-bold-black-18px{
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
  }

  .roboto-bold-white-18px{
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
  }


  /* Section 2 Styles */
  #section-2 {
    background-color: #f5f5f5;
    width: 1200px;
    height: 180px;
    position: relative;
    text-align: center;
  }

  #section-2 img {
    width: 100%;
    height: auto;
  }

  /* #nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex; 
    justify-content: space-around;
  }

  #nav img {
    width: 100%;
    height: auto;
  } */

  /* Responsive Navigation */
  .navbar {
    overflow: hidden;
    background-color: #02925D;
    display: flex; 
    justify-content: space-around;
  }

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
	  font-size: 2rem;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }


	
  /* .custom-size{
	font-size: 5em
	} */

  #section-3{
    display: flex; 
    justify-content: space-between; 
    background-color: #02925D;
    width: 1200px; 
  }

  .left-content{
    width: 600px;
    text-align: center;
    background-color: #02925D
  }

  .custom-size4{
		font-size: 2rem;
		color: white;
		text-align: center;
    margin-top: 20px;
    width: 600px;
	}

  .left-content img{
    width: 600px;
    height: auto;
  }

  .right-content{
    width:600px;
    background-image: url('image/4.png');
    background-size: cover; 
    max-width: 50%; 
    height: 489.73px;
    opacity: 0.8; 
    color:white; 
    text-align: center; 
    padding: 20px;
  }
  
  .custom-size1{
	  font-size: 2rem;
    width: 550px;
	}

  .custom-size2{
	margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
	font-size: 1.5rem;
	text-align: left;
	text-indent: 2em;
  width: 550px;
	}

	#section-4{
		text-align: center; 
    padding: 20px; 
    background-color:#1EAB71;
    display: flex; 
    justify-content: space-around;
    width: 1200px;
	}

	#section-4 a{
		text-decoration: none;
		color: inherit;
    width: 400px;
	}

  #section-4 img{
    width: 80px;
    height: auto;
  }

  .custom-size3{
		font-size: 20px;
		color: white;
    width: 400px;
	}
	
	#section-5{
		background-color:#02925D;
    display: flex; 
    justify-content: space-between; 
    padding: 20px; 
    width: 1200px;
	}

  .column{
    width: 380px; 
    margin: 0;
    margin-right: 10px;
  }
  .custom-size5{
		font-size: 1.2rem;
		color: white;
		text-align: justify;
    text-indent: 2em;
    width: 280px; 
    margin-top: 20px;
    line-height: 1.5;
	}
  .custom-size9{
    font-size: 2rem;
		color: white;
		text-align: center;
    margin-top: 20px;
    width: 400px;
  }
  .custom-size7{
		font-size: 1.2rem;
		color: white;
		text-align: justify;
    text-indent: 2em;
    word-break: break-all;
		width: 380px; 
    margin-top: 20px;
    line-height: 1.5;
	}

  #footer{
    background-color: white; 
    color: black; 
    text-align: center; 
    padding: 20px; 
    display: flex; 
    justify-content: space-around;
    width: 1200px;
    
  }
	
  .left1{
    width: 300px;
    
  }
  .left2{
    width: 300px;
    margin: 0;
  }
  .right1{
    width: 300px;
    margin: 0;
  }
  .right2{
    width: 300px;
    margin: 0;
    
  }
	#footer a{
		text-decoration: none;
		color: inherit;
		display: block;
		font-size: 20px;
		margin-top: 20px;
    width: 300px;
	}

  #footer a:hover {
    color: red;
  }

  .left1 img{
    width: 200px; 
    height: auto;
    text-align: center;
  }
	
	.custom-size6{
		font-size: 30px;
		color: black;
    width: 300px;
	}
	
	.custom-size8{
    font-size: 20px;
		margin-top: 20px;
    width: 200px;
	}
  
#data{
  display: none;
}

#home{
  display: block;
}

#contact{
  display: none;
}

.content1{
  width: 1200px;
  background-color: #02925D;
  display: flex; 
  justify-content: space-between; 
}

.left-content1{
  width: 500px;
  font-size: 4rem;
  color: white;
  word-break: break-all;
}

.right-content1{
  width: 500px;
  font-size: 2rem;
  color: white;
}

.custom-size10{
  font-size: 1.5rem;
  color: white;
  text-align: left;
  margin-top: 40px;
  width: 500px;
  text-indent: 3.5rem;
  line-height: 1.8;
}

.content2{
  width: 1200px;
  background-color: #02925D;
  display: flex; 
  justify-content: space-between; 
}

.contact-content1{
  width: 1200px;
  display: flex;
}

.contact-left{
  width: 500px;
}

.left-top{
  width: 500px;
  font-size: 4rem;
  font-weight: bold;
  color: white;
  word-break: break-all;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-top: 50px;
  text-align: center;
}

.left-bottom{
  width: 500px;
  color: white;
  margin-top: 40px;
}

.custom-size11{
  font-size: 1.5rem;
  color: white;
  text-align: left;
  margin-top: 20px;
  margin-left:40px;
  width: 550px;
  text-indent: 3.5rem;
  line-height: 1.8;
}

.contact-right{
  width: 600px;
  margin-top: 100px;
}

.contact-bottom{
  width: 600px;
  
  margin-top: 30px;
  margin-left: 200px;
}

.contact-bottom video{
  width: 750px;
  height: 500px;
}

